### Module

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Function

In [ ]:
def fast_read_excel(file_path, sheet_name):
    df = pd.read_excel(
        file_path, 
        sheet_name=sheet_name,
        engine='openpyxl',
        dtype_backend='numpy_nullable'  # Tối ưu memory và tốc độ
    )
    return df

### Read file

In [6]:
# Hiển thị các sheet trong file excel
for sheet in pd.ExcelFile('../data/online_retail_II.xlsx').sheet_names:
    print(sheet)

Year 2009-2010
Year 2010-2011

In [ ]:
df = fast_read_excel('../data/online_retail_II.xlsx', sheet_name="Year 2009-2010")

In [8]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.1,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom